*.db
*.db-journal
*.out
*.json
*.txt

*.pkl
*.pt
*.bin
*.pth
*.model
*.npy

**/.ipynb_checkpoints
**/__pycache__
**/.vscode
**/runs
**/data
**/.cache
**/out
**/output

**/check_point
**/checkpoint
**/tmp*
core.*

run*.sh
start.sh