*.db
*.db-journal
*.log
*.out
*.pid
*.seed
*.stackdump

*.json
*.csv
*.tsv

*.pkl
*.pt
*.bin
*.pth
*.model
*.npy

.DS_Store
.python-version
.env
.env.*

**/.ipynb_checkpoints
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.cache
**/.vscode
**/runs
**/data
**/out
**/output
**/check_point
**/checkpoint
**/tmp*

core.*

run*.sh
start.sh

!requirements.txt
